.all {
    display:flex;
    flex-direction: column;
}
.firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
    margin: 10px;
}
.secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px blue solid;
    margin: 10px;
}
.thirdContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    margin: 10px;
}
.fourthContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 2px solid brown;
    margin: 10px;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 2px solid black;
    
}
.logo {
   display: flex;
   border: 2px solid black;
  
}
.links {
    display: flex;
    margin: 20px;
    border: 2px solid green;
    justify-content: space-between;
}
.leftFirst {
    display:flex;
}
.rightFirst{
    display: flex;
}
.pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blueBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}