.all {
    display:flex;
    flex-direction: column;
}
.firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.thirdContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.fourthContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.logo {
   display: flex;
   flex: 1;
   justify-content:center;
    align-self:center;
}
.links {
    display: flex;
    flex: 1;
    margin: 20px;
    gap: 20px;
}
.leftFirst {
    flex:1;
}
.rightFirst {
    flex: 1;
}
.pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.quote {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blueBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex:1;
}